/* making changes for 640 resolution*/

@media only screen and (max-width: 640px) {
/* general */

/* set container width to 640*/
  .container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    clear: both;
  }

  /* adjust image width and margins */
  .auth-image {
    width: 540px;
    height: auto;
  }
  
/* adjust margin */
  nav a:first-child{
    margin-left: 170px;
  }

/* sidebar */
/*adjusting side width to match main content and adjusting float */

  .sidebar {
    float: left;
    max-width: 600px;
    margin-left: 20px;
  }
/* adjusting margins on sidebar and main section to match the solution photoes */
  .main-section {
    width: 100%;
    max-width: 600px;
    margin: 20px;
    margin-top: 40px;
  }
  /* adjust logo width*/
  #logo {
    clear: both;
    width: 640px;
    margin: 0;
  }

  /* adjust portfolio images*/
  .work {
    width: 540px;
    margin: 20px 0 0;
  }

}