/* making changes for 764 resolution*/

@media only screen and (max-width: 980px) {
/* general */

/* set container width to 980*/
    .container {
      width: 100%;
      max-width: 980px;
      margin: 0 auto;
      clear: both;
    }
    
/*adjust floats */

  nav {
    float: left;
    margin-top: 25px;
  }
  .sidebar {
    float: left;
    margin-left: 30px;
  }
/* adjust margin for float left - from right*/
  nav a:first-child{
    margin-left: 140px;
  }
/*adjust other margins to match result picture*/
  .main-section {
    float: left;
    max-width: 350px;
    margin: 0 0 40px 160px;
  }
  #logo {
    margin-left: 160px;
  }
}